.container {
  border-bottom: 1px solid #333;
  background-color: #222222;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
}

.wrapper {
  padding: 0 16px 0 8px;
  max-width: 1106px;
  width: 100%;
  height: 100%;
}

.homeLink {
  display: flex;
  align-items: center;
  width: 165px;
  height: 100%;
  text-decoration: none;
}
