.__bg_thrush_egg {
    background-color: rgb(90, 173, 173);
}

.__bg_sea_wave {
    background-color: rgb(69, 132, 132);
}

.__bg_black_blue {
    background-color: rgb(34, 46, 46);
}

.__bg_dark_blue_green {
    background-color: rgb(39, 75, 75);
}

.__bg_aliceblue {
    background-color: aliceblue;
}