.form {
  padding: 16px 0 32px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
}

.wrap {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  width: 100%;
}

.fields {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
