.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #141414;
}

.wrapper {
  padding: 0 16px 0 8px;
  max-width: 1106px;
  width: 100%;
  height: 100%;
  display: flex;
}

.leftSide {
  min-width: 165px;
  width: 165px;
  height: 100%;
  padding-right: 6px;
}

.rightSide {
  width: 100%;
  height: 100%;
}
