.inputWrap {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #fff6;
  padding: 0 10px;
  border-radius: 8px;
}

.label {
  width: 100%;
  height: 26px;
  background-color: #fff6;
  border-radius: 4px;
}

.input {
  font-size: 16px;
  width: 100%;
  padding: 0 38px 0 12px;
  z-index: 99;
  background: none;
  border: none;
  height: 26px;
}

.input:focus {
  border: none;
  outline: none;
}

.icon {
  margin-top: 3px;
  margin-left: -26px;
  position: absolute;
  width: 20px;
  height: 20px;
}
