.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tablesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.questions {
  padding: 32px 16px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  padding: 16px;
}

@media (max-width: 768px) {
  .tablesContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
