.container {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.whiteType {
  background-color: #e1e3e6;
  color: #333;
}

.greenType {
  background-color: #4bb34b;
  color: #e1e3e6;
}
