.btns-wrap {
    position: fixed;
    bottom: 0;
    width: 101vw;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 100;
    background-color: #679290;
    margin-left: -9px;
}   

#add-app-btn {
    padding: 4px 10px;
    color: white;
    border-radius: 5px;
    border: 2px solid #eed2a2;
    background-color: #EEC175;
}